include LICENSE GOVERNANCE.md CMakeLists.txt build.sh run_tests.py
recursive-include include *.h
recursive-include csrc *.c
recursive-include scripts *.py *.sh
recursive-include tests *.py
recursive-include examples *.txt *.asm *.slaspec
recursive-include specs *.sled *.tla
recursive-include docs *.md
recursive-include assets *.svg

include CONTRIBUTORS.md CHANGELOG.md
